<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>App store</title>
  </head>
  <body>
    <div align="center" class="container">
      <h1 class="cover-heading">
        App store
      </h1>
      <ul>
        <% for app in apps %>
          <li><a href="<%= "#{app["name"]}.html" %>"><%= app["name"].titleize %></a></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
